@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

.product-tab {
color: #000000;
background: #FFFFFF;
}

html {
    font-family: 'Roboto', sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent
}

html {
    height: 100%;
}

body {
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: rgba(255, 255, 255, .85);
    /*letter-spacing: 0.5px;*/
}


::placeholder {
    color: #fff !important;
    font-size: 13px;
    opacity: .5 !important;

}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #ffffff;
}

.h1,
h1 {
    font-size: 20px;
    line-height: 70px;
    margin-left: 20px;
}

.h2,
h2 {
    font-size: 38px;
    line-height: 42px;
}

.h3,
h3 {
    font-size: 22px;
    line-height: 10px;
}

.h4,
h4 {
    font-size: 20px;
    /*line-height: 70px;*/
    margin-left: 20px;
}

.h5,
h5 {
    font-size: 18px;
    line-height: 40px;
}

.h6,
h6 {
    font-size: 14px;
    line-height: 18px;
}







a {
    color: #ffffff;
}

.row {
    margin-right: -12.5px;
    margin-left: -12.5px;
}

.col-12 {
    padding-right: 240px;
    padding-left: 240px;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 56px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

tr {
    text-align: center;
    vertical-align: middle;
}

.content-wrapper {
    padding-top: 60px;
    padding-left: 10px;
    /*padding-bottom: 70px;*/
    overflow-x: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


body.bg-theme9 {
    background-image: linear-gradient(45deg, #b7b6b9, #485563);
}

.search-bar {
    margin-left: 20px;
    position: relative;
    width: 530px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.search-bar input {
    border: 0px solid #f1f1f1;
    font-size: 15px;
    width: 550px;
    border-radius: 0.25rem;
    height: 34px;
    padding: .375rem 2.0rem .375rem .75rem;
    background-color: rgba(255, 255, 255, 0.2);
    margin-left: -20px;
}

.search-bar a i {
    position: absolute;
    top: 7px;
    right: -28px;
    color: #fff;
    font-size: 20px;
}

.product-img {
    height: 200px;
    margin-left: 25px;
}

.card {
    margin-bottom: 25px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: none;
    background-color: rgba(0, 0, 0, .2);
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    margin-top: 0;
    background: transparent;
    border-bottom: 10px solid rgba(255, 255, 255, 0.12);
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
}

.btn {
    font-size: .90rem;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 12px 19px;
    border-radius: .25rem;
    text-transform: uppercase;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

.btn-light {
    color: #fff;
    background-color: rgba(255, 255, 255, .125);
    border-color: rgba(255, 255, 255, .125);
}

.btn-light:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.18);
    border-color: rgba(255, 255, 255, 0.18);
}

.form-control {
    border: 0px solid #e5eaef;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff !important;
}

.position-relative {
    position: relative!important;
}

.form-control-position {
    position: absolute;
    top: -8px;
    right: 0;
    z-index: 2;
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, .85);
}

.table.align-items-center td,
.table.align-items-center th {
    vertical-align: middle;
}

.table td,
.table th {
    white-space: nowrap;
    border-top: 5px solid rgba(180,180,180);
}

.text-warning {
    color: #ff8800!important;
}

.card-authentication1 {
    width: 24rem;
}