@font-face {
  font-family: 'Material-Design-Iconic-Font';
  src: url('../fonts/Material-Design-Iconic-Font.ttf?v=2.2.0') format('truetype');
}

@font-face {
  font-family: 'simple-line-icons';
  src: url('../fonts/Simple-Line-Icons.ttf?v=2.4.0') format('truetype');
}

.icon-user,
.icon-envelope-open,
.icon-lock,
.icon-magnifier,
.icon-power{
  font-family: 'simple-line-icons';
  font-style: normal;
  line-height: 1;
}

.zmdi-block:before {
  font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
  content: '\f119';
}
.icon-user:before {
  content: "\e005";
}
.icon-envelope-open:before {
  content: "\e01e";
}
.icon-lock:before {
  content: "\e08e";
}
.icon-magnifier:before {
  content: "\e090";
}
.icon-power:before {
  content: "\e097";
}