{% extends 'base.html' %}

{% block content %}
<div id="wrapper">
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-12" style='display:flex'>
                    <div class="card" >
                        <div class="card-header" style='display:flex'>
                            <h5>{{current_user.username}}</h5>
                            <a class="btn btn-light px-2" href="logout">Log Out <i class="icon-power"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Tracked products</h5>
                            <div style='display:flex'>
                                <ul class="navbar-nav mr-auto align-items-left">
                                    <li class="nav-item">
                                        <form class="search-bar">
                                            <input type="text" class="form-control" placeholder="Paste link to product">
                                            <a onclick="add_item()"><i class="icon-magnifier"></i></a>
                                        </form>
                                    </li>
                                </ul>
                                <h4 class="text-warning mb-0" Id="validator"></h4>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush table-borderless">
                                <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Photo</th>
                                    <th>Product ASIN</th>
                                    <th>Date added</th>
                                    <th>The lowest price</th>
                                    <th>The lowest price date</th>
                                    <th>Current price</th>
                                    <th>Current price date</th>
                                    <th>User_id</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for product in products %}
                                <tr id="{{ product.id }}-tr">
                                    <td class="product-tab">{{ product.product_name }}</td>
                                    <td class="product-tab"><img src="https://m.media-amazon.com/images/I/61xHHgU0bYL._AC_SL1500_.jpg" class="product-img" alt="product img"></td>
                                    <td class="product-tab">{{ product.product_asin }}</td>
                                    <td class="product-tab">{{ product.date_added }}</td>
                                    <td class="product-tab">{{ product.lowest_price }} PLN</td>
                                    <td class="product-tab">{{ product.lowest_price_date }}</td>
                                    <td class="product-tab">{{ product.current_price }} PLN</td>
                                    <td class="product-tab">{{ product.current_price_date }}</td>
                                    <td class="product-tab">{{ product.fk_user }}</td>
                                    <td class="product-tab"><button onclick="delete_item({{ product.id }})" class="btn btn-light px-3"><i class="zmdi zmdi-block"></i></button></td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}



