{% extends 'base.html' %}

{% block content %}
<div id="wrapper">
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-12" style='display:flex'>
                    <div class="card" >
                        <div class="card-header" style='display:flex'>
                            <h5>Logged as: username
                            <a onclick="add_item()"><i class="icon-power mr-2"></i></a>
                                </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-wrapper">
        <div class="container-fluid">
            <!--Start Dashboard Content-->
            <div class="row">
                <div class="col-12 col-lg-12">
                    <div class="card">

                        <div class="card-header">
                            <h5>Tracked products</h5>
                            <div style='display:flex'>
                                <ul class="navbar-nav mr-auto align-items-left">
                                    <li class="nav-item">
                                        <form class="search-bar">
                                            <input type="text" class="form-control" placeholder="Enter keywords">
                                            <a onclick="add_item()"><i class="icon-magnifier"></i></a>
                                        </form>
                                    </li>
                                </ul>
                                <h4 Id="validator"></h4>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush table-borderless">
                                <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Photo</th>
                                    <th>Product ASIN</th>
                                    <th>Date added</th>
                                    <th>The lowest price</th>
                                    <th>Current price</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Iphone 5</td>
                                    <td><img src="https://via.placeholder.com/110x110" class="product-img"
                                             alt="product img"></td>
                                    <td>#9405822</td>
                                    <td>$ 1250.00</td>
                                    <td>03 Aug 2017</td>
                                    <td>
                                        <div class="progress shadow" style="height: 3px;">
                                            <div class="progress-bar" role="progressbar" style="width: 90%"></div>
                                        </div>
                                    </td>
                                    <td><a onclick="add_item()"><i class="zmdi zmdi-block"></i></a></td>
                                </tr>
                                <tr>
                                    <td>Earphone GL</td>
                                    <td><img src="https://via.placeholder.com/110x110" class="product-img"
                                             alt="product img"></td>
                                    <td>#9405820</td>
                                    <td>$ 1500.00</td>
                                    <td>03 Aug 2017</td>
                                    <td>
                                        <div class="progress shadow" style="height: 3px;">
                                            <div class="progress-bar" role="progressbar" style="width: 60%"></div>
                                        </div>
                                    </td>
                                    <td><a onclick="add_item()"><i class="zmdi zmdi-block"></i></a></td>
                                </tr>
                                <tr>
                                    <td>HD Hand Camera</td>
                                    <td><img src="https://via.placeholder.com/110x110" class="product-img"
                                             alt="product img"></td>
                                    <td>#9405830</td>
                                    <td>$ 1400.00</td>
                                    <td>03 Aug 2017</td>
                                    <td>
                                        <div class="progress shadow" style="height: 3px;">
                                            <div class="progress-bar" role="progressbar" style="width: 70%"></div>
                                        </div>
                                    </td>
                                    <td><a onclick="add_item()"><i class="zmdi zmdi-block"></i></a></td>
                                </tr>
                                <tr>
                                    <td>Clasic Shoes</td>
                                    <td><img src="https://via.placeholder.com/110x110" class="product-img"
                                             alt="product img"></td>
                                    <td>#9405825</td>
                                    <td>$ 1200.00</td>
                                    <td>03 Aug 2017</td>
                                    <td>03 Aug 2017</td>
                                <td><a onclick="add_item()"><i class="zmdi zmdi-block"></i></a></td>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}



